 /*Rafael Viana - Debian 8*/
.button:hover{ 
    -fx-opacity: 1;  
}

.label{  
     color: white;
}

.fundo_transp{
    -fx-background-color:transparent;
}

.button.btn-entrar{
    -fx-base: #16e832;
}

.label{
    color: white;
}
.button.btn_prox{
    -fx-base: #16e832;
}
.button.btn-cancelar{
    -fx-base:#ee2828

}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.pane_black{
    -fx-background-color: black;
    -fx-opacity: 0.4;
}

.root{
    -fx-background-image: url("/br/ufms/desafio/view/images/foto_2.jpg");
    -fx-background-repeat: stretch;
  
    -fx-background-size: 1800 1200;
    -fx-background-position:  center center;
   
}

.tooltip {
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: black;
    -fx-border-color: null;
    -fx-border-radius: 0;
}




